@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
html {
  font-size: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Rubik", sans-serif;
  overflow: hidden;
}

@media screen and (max-width: 375px) {
  body {
    height: 155vh;
    overflow-y: auto;
  }
}

.bodyContainer {
  width: 100%;
  height: calc(100vh - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 375px) {
  .bodyContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 150vh;
    overflow: hidden;
  }
}

.phoneContainer {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

@media screen and (max-width: 375px) {
  .phoneContainer {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 150%;
  }
}

.phoneBgContainer {
  position: absolute;
  top: 0;
  left: -100px;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 375px) {
  .phoneBgContainer {
    left: -250px;
    top: -70px;
  }
}

.phoneBgContainer .blueBg {
  width: 60%;
  height: 80%;
  background: -webkit-gradient(linear, left bottom, right top, from(#8838ff), to(#e942ff));
  background: linear-gradient(to top right, #8838ff, #e942ff);
  border-radius: 0 0 350px 350px;
}

@media screen and (max-width: 375px) {
  .phoneBgContainer .blueBg {
    width: 70%;
  }
}

.phoneWrapper {
  width: 250px;
  height: 500px;
  background: #f5f3f7;
  margin-right: 100px;
  border-radius: 30px;
  border: 7px solid white;
  z-index: 10;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15), 0 0 20px rgba(0, 0, 0, 0.05), 10px 10px 40px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.15), 0 0 20px rgba(0, 0, 0, 0.05), 10px 10px 40px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 375px) {
  .phoneWrapper {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    margin: 0;
    margin-top: 30px;
  }
}

.phoneWrapper .notch {
  position: absolute;
  width: 60%;
  height: 30px;
  border-radius: 10px;
  top: -13px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background: white;
  z-index: 99;
}

.phoneWrapper .header {
  width: 100%;
  height: auto;
  background: -webkit-gradient(linear, left top, right top, from(#8838ff), to(#e942ff));
  background: linear-gradient(to right, #8838ff, #e942ff);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}

.phoneWrapper .header .headerLeft {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 7px 20px;
}

.phoneWrapper .header .headerLeft .headerArrow {
  width: 7px;
  height: 7px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  border-radius: 1px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.phoneWrapper .header .headerLeft .headerImgContainer {
  margin: 0 10px;
}

.phoneWrapper .header .headerLeft .headerImgContainer .avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1.5px solid white;
  -o-object-fit: cover;
     object-fit: cover;
}

.phoneWrapper .header .headerLeft .headerUserText {
  color: white;
}

.phoneWrapper .header .headerLeft .headerUserText h2 {
  font-size: 12px;
  font-weight: 500;
}

.phoneWrapper .header .headerLeft .headerUserText p {
  font-size: 8px;
  font-weight: 400;
  margin-top: 2px;
  color: #d89eff;
}

.phoneWrapper .header .headerRight {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.phoneWrapper .header .headerRight div {
  width: 2px;
  height: 2px;
  margin-bottom: 2px;
  background: white;
  border-radius: 50%;
}

.phoneWrapper .chatContainer {
  padding: 0 10px;
  width: 100%;
  height: 76%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.phoneWrapper .chatContainer .chatLeft {
  width: 70%;
  padding: 7px;
  color: #9241c8;
  background: white;
  font-size: 8px;
  border-radius: 10px 10px 10px 5px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.phoneWrapper .chatContainer .chatRight {
  width: 65%;
  padding: 7px;
  color: #6e5d7e;
  background: white;
  font-size: 8px;
  border-radius: 10px 10px 5px 10px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.phoneWrapper .chatContainer .trimWidth {
  width: 40%;
}

.phoneWrapper .chatContainer .photoRight {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.phoneWrapper .chatContainer .photoRight .chatImgWrapper .dogImg {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.phoneWrapper .chatContainer .chatLeftSpecial {
  width: 80%;
  padding: 7px;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#8838ff), to(#e942ff));
  background: linear-gradient(to right, #8838ff, #e942ff);
  border-radius: 10px 10px 10px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #f5f3f7;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05), 0 0 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.05), 0 0 10px rgba(0, 0, 0, 0.05);
}

.phoneWrapper .chatContainer .chatLeftSpecial .specialLeft {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 5px;
}

.phoneWrapper .chatContainer .chatLeftSpecial .specialLeft .circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1.5px solid #e570ff;
  margin: 0 5px;
}

.phoneWrapper .chatContainer .chatLeftSpecial .specialLeft .specialLeftText {
  font-size: 8px;
}

.phoneWrapper .chatContainer .chatLeftSpecial .specialRight {
  font-size: 14px;
  font-weight: 700;
  margin-right: 5px;
}

.phoneWrapper .inputContainer {
  width: 92%;
  height: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  border-radius: 30px;
  background: white;
  margin-left: 10px;
}

.phoneWrapper .inputContainer input {
  width: 80%;
  height: 80%;
  background: transparent;
  border: none;
  outline: none;
  margin-left: 15px;
  font-size: 10px;
  color: #6e5d7e;
  padding-right: 10px;
}

.phoneWrapper .inputContainer input::-webkit-input-placeholder {
  font-size: 10px;
  color: #c6cacd;
}

.phoneWrapper .inputContainer input:-ms-input-placeholder {
  font-size: 10px;
  color: #c6cacd;
}

.phoneWrapper .inputContainer input::-ms-input-placeholder {
  font-size: 10px;
  color: #c6cacd;
}

.phoneWrapper .inputContainer input::placeholder {
  font-size: 10px;
  color: #c6cacd;
}

.phoneWrapper .inputContainer button {
  background: #3e2753;
  border-radius: 50%;
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: 150ms;
  transition: 150ms;
}

.phoneWrapper .inputContainer button:hover {
  background: #8838ff;
}

.phoneWrapper .inputContainer button .btnArrow {
  width: 8px;
  height: 8px;
  border-right: 2px solid white;
  border-top: 2px solid white;
  border-radius: 1px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.textContainer {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  position: relative;
}

@media screen and (max-width: 375px) {
  .textContainer {
    width: 100%;
    height: 100%;
    padding: 0 30px 30px;
    text-align: center;
  }
}

.textContainer .textWrapper {
  height: auto;
  width: 450px;
  z-index: 10;
}

.textContainer .textWrapper h1 {
  color: #3e2753;
  margin-bottom: 20px;
}

@media screen and (max-width: 375px) {
  .textContainer .textWrapper h1 {
    font-weight: 500;
  }
}

.textContainer .textWrapper p {
  color: #a39daa;
  line-height: 1.5rem;
}

@media screen and (max-width: 375px) {
  .textContainer .textWrapper p {
    line-height: 1.8rem;
  }
}

.textBgContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.textBgContainer .whiteBg {
  width: 60%;
  height: 80%;
  background: #f5f3f7;
  border-radius: 0 0 350px 350px;
  -webkit-transform: rotate(180deg) translate(-370px, -150px);
          transform: rotate(180deg) translate(-370px, -150px);
}

@media screen and (max-width: 375px) {
  .textBgContainer .whiteBg {
    width: 90%;
    height: 280%;
    -webkit-transform: rotate(180deg) translate(-200px, 150px);
            transform: rotate(180deg) translate(-200px, 150px);
  }
}
/*# sourceMappingURL=style.css.map */