// devices
$desktop: 1440px;
$mobile: 375px;

// colors
// primary
$moderateViolet: hsl(263, 55%, 52%);
$veryDarkGrayishBlue: hsl(217, 19%, 35%);
$veryDarkBlackishBlue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);

// neutral
$lightGray: hsl(0, 0%, 81%);
$lightGrayishBlue: hsl(210, 46%, 95%);

//font
$font: 'Barlow Semi Condensed', sans-serif;
$fontLight: 500;
$fontMedium: 600;
