// Layout
$mobile: 376px;
$desktop: 1440px;

// primary colors
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);

// neutral colors
$wrayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// font
$fontSize: 18px;
$font: 'Public Sans', sans-serif;
$fontLight: 300;
$fontMedium: 400;
$fontBold: 700;
