@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.pattern {
		background: url('../images/bg-tablet-pattern.svg') no-repeat;
		background-size: 150%;
		background-position: -20% -80%;
	}
	.patternLg {
		background: url('../images/bg-tablet-pattern.svg') no-repeat;
		background-position: 120% 180%;
	}
	.simplify {
		background: url('../images/bg-simplify-section-mobile.svg') no-repeat;
		background-position: center left;
	}
	.simplifyLg {
		background: url('../images/bg-simplify-section-desktop.svg') no-repeat;
		background-position: center;
	}
}

@layer utilities {
	body.active::after {
		@apply top-0 visible opacity-100;
	}

	/* hamburger */
	.menu.active div:first-child {
		@apply top-1 rotate-[225deg];
	}
	.menu.active div:nth-child(2) {
		@apply hidden;
	}
	.menu.active div:last-child {
		@apply bottom-1 -rotate-[225deg];
	}
}

@layer base {
	html::-webkit-scrollbar {
		@apply w-1.5 bg-[#242d52];
	}
	html::-webkit-scrollbar-thumb {
		@apply bg-[#f25f3a] rounded-xl;
	}
}
