// screen widths
$mobile: 375px;
$desktop: 1440px;

// colors

// primary colors
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$darkGray: hsl(0, 0%, 55%);
$veryDarkGray: hsl(0, 0%, 41%);

// fonts
$font1: 'Alata', sans-serif;
$font2: 'Josefin Sans', sans-serif;

// font-weight
$font-light: 300;
$font-medium: 400;

// font-size
$font-size: 15px;
